html {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  height: 100%;
  width: 100%;
}
#landing{
  background-image: radial-gradient(circle,white,#454545);
  height: auto;
  width: 100%;
}
#landing h1{
  font-size: 40px;
  
}
#first{
  display: flex;
  align-items: center;
}
.text{
  width: 50%;
  padding:40px;
}
.image{
  width: 50%;
}
.text button{
  background-color: #151515;
  color: whitesmoke;
  font-size: 20px;
  padding: 10px 30px;
  border: 0px;
  border-radius: 5px;
}
#cart{
  height: 30px;
  width: auto;
}
#logo{
  margin-right: 400px;
}
#logo img{
  height: 120px;
  width: auto;
}
ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#FeaturedProducts h2{
  text-align: center;
  margin-bottom: 0px;
}
#FeaturedProducts hr{
  height: 5px;
  width: 100px;
  border-radius: 5px;
  border: none;
  background-color: #dadada;
}
.cardcont{
  display: flex;
  justify-content: center;
  padding: 30px;
}
.card{
  margin-left: 25px;
  padding-top: 20px;
  transition: padding-top 250ms;
}
.card:hover{
  padding-top: 0px;
}
.productimg{
  object-fit: cover;
  height: 300px;
  width: 230px;
  border-radius: 15px;
}
.card h4{
  margin: 0px;
  font-size: 20px;
  font-weight: 300;
}
.card h3{
  margin: 0px;
  font-size: 25px;
}
.starcont img{
  height: 15px;
  width: 15px;
  margin-top: 5px;
}
.tcont{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 650px;
}
.tcard{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  box-shadow: 0px 0px 5px 5px lightgray;
  padding: 30px;
  transition: margin-bottom 500ms;
}
.tcard:hover{
  margin-bottom: 15px;
}
.tcard p{
  margin-top: 50px;
  font-size: 12px;
  color: gray;
  text-align: center;
}
.tcard p::before{
  content: '"';
  font-size: 100px;
  color: #3e3e3e;
  text-align: center;
  position: absolute;
  top: 10px;
  left: 162px;
}
.timg{
  border-radius: 100%;
  height: 50px;
  width: 50px;
  margin-top: 20px;
}
.tcard h5{
  margin: 0px;
}
.sponscontainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 80%;
  margin: auto;
}
.sponscontainer img{
  filter: grayscale(100%);
  transition: filter 150ms;
}
.sponscontainer img:hover{
  filter: grayscale(0%);
}
#footer{
  background-color: black;
}

.footercont{
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  margin: auto;
  margin-top: 50px;
  padding-top: 100px;
  gap: 100px;
  color: white;
  text-align: center;
}
.footercont p{
  color: grey;
  font-size: 13px;
}
#app img{
  height: auto;
  width: 150px;
  border-radius: 6px;
}
.footercont:nth-child(1) img{
  border-radius: 100%;
  background-color: white;
  width: 60%;
  height: auto;
  margin: auto;
}
#footer hr{
  border-color: gray;
  width: 80%;
}
#footer p{
  color: gray;
  font-size: 13px;
  text-align: center;
}
#accbody{
  background-image: radial-gradient(circle,white,#3d3d3d);
}
.logincont{
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 300px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 5px #3e3e3e;
  margin: auto;
}
h2{
  text-align: center;
  margin-bottom: 50px;
}
p{
  text-align: center;
}
.text-field{
  max-width: 500px;
  margin: auto;
  font-size: 20px;
  margin-bottom:15px;
}
.text-field input{
  width: 250px;
  height: 15px;
  padding: 5px;
  border: 1px solid gray;
}
.text-field input::placeholder{
  font-size: 15px;
}
.logincont button{
  margin: auto;
  width: 250px;
  height: 30px;
  background-color: black;
  border: 0px;
  border-radius: 5px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logincont p{
  font-size: 12px;
  color: gray;
}
.pinkbar{
  background-color: #3d3d3d;
}
.tableheading {
  background-color: #3c3c3c;
}
table,th,td {
  border: none;
  border-collapse: collapse;
}
th{
  width: 300px;
}
#productth{
  padding-left: 3px;
  width: 350px;
  text-align: left;
}
#subtotalth{
  padding-right: 3px;
  text-align: right;
}
.cart{
  display: flex;
  align-items: center;
  justify-content: center;
}
tr h4{
  margin: 2px;
}
tr h6{
  margin: 0px;
}
tr img{
  height: 100px;
  width: 100px;
  border-radius: 10px;
}
tr button p{
  color: #3d3d3d;
}
tr button{
  margin: 0px;
  border: 0px;
  background-color: white;
}
.productstuff{
  display: flex;
}
.cart-field{
  display: flex;
  justify-content: center;
}
.cart-field input{
  height: 20px;
  width: 20px;
}
.subtotal{
  display: flex;
  justify-content: flex-end;
}
.finaltotal table{
  border-top: 5px solid #3d3d3d;
  width: 500px;
}
.finaltotalstuff{
  display: flex;
  justify-content: flex-end;
}
.fullcart{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 70%;
  margin: auto;
}
.specialneeds{
  height: 500px;
  width: auto;
}